*{
  box-sizing: border-box;
  
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.hero {
    color: white;
    border-radius: 0;
    margin-bottom: 2%;
    background: linear-gradient(
    to right,
    blue,
    orange
)}

#submit {
    width: 100%;
    margin-bottom: 20px;
  }

.input {
    width: 100%;
}

h3, h4 {
  margin-bottom: 2%;
}

#uvIndex {
  padding-bottom: 2%;
}